/*FLEXNAV*/
.flexnav {
  margin: 0;
  *zoom: 1;
  position: relative;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  -ms-transition: 0;
  transition: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 100;
}
.flexnav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.flexnav:after {
  content: '';
  display: table;
  clear: both;
}
.flexnav.one-page {
  position: fixed;
  top: 50px;
  right: 5%;
  max-width: 200px;
}
.flexnav li {
  margin: 0 !important;
  position: relative;
}
.flexnav li.active > a {
  background: #2a8fbd;
  color: #fff;
  border-color: #2a8fbd !important;
}
.flexnav li.active > a:hover {
  background: #2a8fbd;
  color: #fff;
}
.flexnav li a {
  margin: 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  background: #fff;
}
.flexnav li > a {
  line-height: 1em;
  text-decoration: none;
}
.touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-family: 'FontAwesome';
  font-size: 15px;
  background: #2a8fbd;
  color: #fff;
}
.touch-button:before {
  content: '\f078';
  -webkit-font-smoothing: antialiased;
}
.touch-button:hover {
  cursor: pointer;
}
.touch-button.active {
  background: #247aa1;
}
.touch-button.active:before {
  content: '\f077';
}
.flexnav-menu-button {
  margin-bottom: 10px;
  position: relative;
  display: block;
  padding: 20px 30px;
  cursor: pointer;
  background: #2a8fbd;
  color: #fff;
  font-size: 20px;
}
.flexnav-menu-button.one-page {
  position: fixed;
  top: 0;
  right: 5%;
  padding-right: 45px;
}
.flexnav-menu-button .touch-button {
  background: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
}
.flexnav-menu-button .touch-button:before {
  content: '\f0c9';
}
@media all and (min-width: 1000px) {
.flexnav {
  overflow: visible;
}
.flexnav > li > ul {
  padding-top: 0;
}
.flexnav > li > ul a {
  line-height: 1.4em;
}
.flexnav a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 13px;
}
.flexnav > li > a {
  background: none;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}
.flexnav > li > a:hover {
  background: #262626;
}
.flexnav li {
  overflow: visible;
}
.flexnav li .touch-button {
  display: none;
}
.flexnav li ul {
  z-index: 1;
  width: 150px;
  position: absolute;
  display: none;
}
.flexnav li ul li > a {
  border-top: 1px solid #1a1a1a;
  background: #262626;
  color: #fff;
}
.flexnav li ul li > a:hover {
  background: #1a1a1a;
}
.flexnav li ul li > ul {
  left: -1px;
  margin-left: 100%;
  top: 0;
}
.flexnav li > ul {
  top: auto;
  left: 0;
}
.flexnav li > ul li {
  width: 100%;
}
.flexnav-menu-button {
  display: none;
}
}
@media all and (max-width: 1000px) {
.flexnav {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-height: 0;
}
.flexnav.show {
  max-height: 2000px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  z-index: 1500;
}
.flexnav li {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.flexnav li a {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 22.5px;
  color: #666 !important;
}
.flexnav li.active > a {
  color: #fff !important;
}
.flexnav li .touch-button {
  display: block;
}
.flexnav li ul {
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5%;
  width: 100%;
}
.flexnav li ul li {
  overflow: hidden;
}
.flexnav li ul li.show {
  overflow: visible;
}
}
.oldie body.one-page {
  padding-top: 70px;
}
.oldie .flexnav {
  overflow: visible;
}
.oldie .flexnav.one-page {
  top: 0;
  right: auto;
  max-width: 1080px;
}
.oldie .flexnav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
  min-height: 50px;
  overflow: visible;
}
.oldie .flexnav li:hover > ul {
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav li:hover > ul li {
  width: 100%;
  float: none;
}
.oldie .flexnav li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
  overflow: visible;
}
.oldie .flexnav li > ul {
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  z-index: 1;
  overflow: visible;
}
.oldie .flexnav li ul li ul {
  top: 0;
}
.oldie .flexnav li ul li a {
  border-bottom: none;
}
.oldie .flexnav li ul.open {
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav li ul.open li {
  width: 100%;
}
.oldie .flexnav li ul.open ul.open {
  margin-left: 100%;
  top: 0;
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav li:hover ul {
  margin-left: 100%;
  top: 0;
}
.oldie .flexnav-menu-button {
  display: none;
}
.oldie.ie7 .flexnav li {
  width: 19.9%;
}
.flexnav-center {
  display: table;
  margin: 0 auto;
}
.flexnav-icons .fa {
  margin-right: 5px;
  background: rgba(0,0,0,0.5);
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.6);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6);
}
.flexnav-icons-top .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  display: block;
  margin: 0 auto 7px auto;
}
.flexnav-icons-top > li > a {
  height: auto !important;
  line-height: 1em;
  padding: 10px 20px;
}
.flexnav-border > li {
  border-left: 1px solid rgba(0,0,0,0.1);
}
.flexnav-border > li:last-child {
  border-right: 1px solid rgba(0,0,0,0.1);
}
header.main-color li.active > a {
  background: #333;
  color: #fff;
  border-color: #333 !important;
}
header.main-color li.active > a:hover {
  background: #333;
  color: #fff;
}
header.main-color li a:hover {
  background: #227297;
}
header.main-white .flexnav-icons .fa {
  background: rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
}
header.main-white .flexnav > li > a {
  color: #666 !important;
}
header.main-white .flexnav > li > a:hover {
  background: rgba(0,0,0,0.07);
}
header.main-white .flexnav > li.active > a {
  color: #fff !important;
  background: #2a8fbd;
}
header.main-white .flexnav > li.active > a:hover {
  background: #2a8fbd;
  color: #fff;
}
header.main-white .flexnav > li ul li > a {
  background: #fff;
  color: #666 !important;
  border-color: #d9d9d9;
}
header.main-white .flexnav > li ul li > a:hover {
  background: #e6e6e6;
}
header.main-white .flexnav > li ul li.active > a {
  background: #2a8fbd;
  color: #fff !important;
}
header.main-white .flexnav > li ul li.active > a:hover {
  background: #2a8fbd;
  color: #fff;
}
/*END FLEXNAV*/