/*General stylesheets*/
@media (min-width: 1000px){
	html{overflow-y: hidden;}
}

body {
	font-size: 13px;
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #5A5A5A;
	padding: 0!important;
	margin: 0 auto;
	background: #faf9f9;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 5px!important;
	margin-bottom: 5px!important;
	color: #444444;
	font-weight: 400;
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5!important;
}

h3 {
	font-size: 18px!important;
}

h5 {
	font-weight: 400;
}

img {
	vertical-align: middle;
}

a {
	cursor: pointer!important;
	text-decoration: none !important;
    -webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}

a img {
	border: none;
}

p, pre, dl, dd, blockquote, address, table, fieldset, form {
	padding: 5px 0px 15px 0px;
	margin: 0px;
	color: #777;
	font-weight: 300;
	font-size: 14px!important;
}

p {
	line-height: 1.5em;
}

hr{
	clear: both;
}

.nopadding{
	
	padding-left: 0px;
	padding-right: 0px;
}

.mt70{
	margin-top: 70px;
}

.mtNeg140{
	margin-top: -100px;	
}

.pb70{
	padding-bottom: 70px;
}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;
	width: 100%;
}

.cWhite{
	color: #fff;
}

.call-to-action{
	background: #F0F0F0;
	padding: 20px 30px;
	margin-bottom: 40px;
}

.vertical-align{
	display: table-cell;
	vertical-align: middle;
}

.subShadow{
	-webkit-box-shadow: 0px 8px 32px -5px rgba(0,0,0,0.57);-moz-box-shadow: 0px 8px 32px -5px rgba(0,0,0,0.57);box-shadow: 0px 8px 32px -5px rgba(0,0,0,0.57);}

.sidebar .line{
	height: 3px;
	width: 50px;
	background: #589287;
	margin-bottom: 5px;
}

.sidebar ul li {
	border-bottom: 1px dotted #589287;
}

.sidebar ul li.nav-selected a{
	color: #fff;
	background: #589287;
}

.sidebar a{
	color: #444444
}
.sidebar a:after{
	display: inline-block;
	font-family: FontAwesome;
	font-size: 13px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f061";
	float: right;
}

/*Header styles*/
.mt-menu-frame {
	position: absolute;
	width: 100%;
	margin-top: 46px;
}

.whiteBG {
	background: white;
}

.logo, .logo_responsive {
	display: block;
	float: left;
	cursor: pointer;
}

.mt-menu .logo, .mt-menu .logo_responsive {
	padding-left: 10px;
	line-height: 70px!important;
}

.nav-pills > li > a {
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #000;
}
.flexnav ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.flexnav {
	position: relative;
	-webkit-transition: 0;
	-moz-transition: 0;
	-o-transition: 0;
	-ms-transition: 0;
	transition: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 100;
	background: #ECECEC;
}



.flexnav > li > a {
	color: #000;
	height: 70px;
	line-height: 70px;
	padding: 0 8px;
}

.flexnav a {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	font-size: 13px;
}

.flexnav-menu-button{
	background: #589287;
	margin-bottom: 0px;
}

.touch-button{
	background: #589287;
}

.touch-button.active{
	background: #127684;
}

.flexnav li.active > a, .flexnav li.active > a:focus ,.flexnav li > a:focus{
	border-color: #589287 !important;
	background-color: #589287;
}

.flexnav li.active > a:hover {
	background: #589287;
	color: #fff;
}

@media (min-width: 1000px){
	#nav {
		color: #444444;
		position: relative;
		border: 0px!important;
		float: right;
		height: 70px!important;
		line-height: 70px!important;
		padding-right: 10px;
	}
	
	.flexnav li {
		background: transparent;
		width: auto;
	}
	
	.flexnav li a {
		padding: 0px;
		background: #fff;
		border-left: none;
		padding-right: 10px;
	}
	
	.item-with-ul:hover .sub-menu {
		display: block;
	}
	
	.flexnav-menu-button {
		display: none;
	}
	
	.flexnav li > ul {
		z-index: 1;
		width: 200px;
		padding-top: 0px;
	}
	
	.flexnav li > ul li {
		width: 100%;
	}
	.flexnav li ul li > a {
		border-top: 0px solid #1a1a1a;
		background: #fff;
		color: inherit;
		padding: 8px;
	}
	
	.item-with-ul > a::after{
		font-family: FontAwesome;
		padding-left: 5px;
		content: '\f107';
	}
	
	.flexnav li ul li > a:hover, .flexnav li ul li > a:focus {
		background:#fff;
		color: #589287;
	}
	
	.flexnav li.active > a, .flexnav li.active > a:hover ,.flexnav li > a:hover,.flexnav li.active > a:focus ,.flexnav li > a:focus{
		background-color: #fff;
		color: #589287;
	}
	
	.flexnav li.active > a, .flexnav li.active > a:hover ,.flexnav li.active > a:focus {
		background-color: #fff;
		color: #589287;
		font-weight: 600;
	}
}	


#header-title {
	z-index: -1; 
	background: #faf9f9;
	width: 100%;
}

.topRow{
	font-size: 11px;
	padding: 4px;
}

.social-icons {
	list-style: none;
	float: right;
	margin-bottom: 0px;
} 

.social-icons li {
	float: left;
}

.social-icons li a {
	padding-left: 10px;
	color: #222!important;
}

.langSelector{
	float: left;
	overflow: hidden;
	height: 15px;
	text-align: right;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}

.langSelector .difLang{
	width: 0px;
	height: 15px;
	overflow: hidden;
	display: none;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}


.langSelector img{
	margin-right: 10px;
}

.langSelector a:first-child img{
	margin-left: 10px;
}

#header {
	padding: 139px 0px 0px!important;
	z-index: 1001;
	height: auto;
	margin-bottom: 200px;
}

#header-sub{
	padding: 139px 0px 0px!important;
	z-index: 1001;
	height: auto;
	margin-bottom: 100px;
}




@media (min-width: 768px) and (max-width: 999px){
	#header, #header-sub{
		padding-top: 207px !important;
	}
}

.box-color {
	height: 100%;
	width: 100%;
	position: absolute;
	margin-left: -15px;
	z-index: 1;
}

.box-info {
	position: relative;
	z-index: 2;
	padding: 25px 20px 25px;
}

.box-info h3, .box-info p, .box-info a {
	color: white!important;
	font-weight: 300;
}

.box-info h3{
	color: #fff;	
	font-weight: 600;
}

.box-info a {
	margin: 5px 0px 5px;
	display: inline-block;
	border: solid white 2px;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 400!important;
	cursor: pointer;
}

.box-info a:hover {
	background: white;
	color: #444444!important;
}

.box-1{
	background-image: url(../images/box-01.png);
	background-size: cover;
	background-position: 50% 50%;
}
.box-2{
	background-image: url(../images/box-02.png);
	background-size: cover;
	background-position: 50% 50%;
}
.box-3{
	background-image: url(../images/box-03.png);
	background-size: cover;
	background-position: 50% 50%;
}

.box-1 .box-color {
	background-color: #43b6a7;
	opacity: 0.9;
}
.box-2 .box-color {
	background-color: #319f8f;
	opacity: 0.9;
}
.box-3 .box-color {
	background-color: #239387;
	opacity: 0.9;
}

.img-cut {
	margin-top: -90px;
	width: 100%;
	height: 87px;
	display: block;
	z-index: 99;
	background: url(../images/cutout.png);
	background-size: cover;
	background-position: 50% 50%;
}

.img-cutbg{
	margin-top: -80px;
	height: 91px;
	display: block;
	z-index: 99;
	background: url(../images/cutoutbg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	margin-bottom: -12px;
}

.headerText{
	padding: 30px 0px;
	text-align: center;
}

.headerText  h1{
	font-size: 72px!important;
	font-weight: 300;
  word-wrap: break-word;
}

.headerText  h4{
	margin-top: 10px;
	font-weight: 300;
	color: #111111;
}

.headerText p {
	color: #444444;
  font-size: 18px !important;
  font-weight: 600;
	}

.breadcrumb-container{
	margin: 0px;
	color: #222222;
	border: 1px solid black;
	padding: 5px 10px!important;
	display: inline-block;
	margin-top: 20px!important;
    font-size: 13px;
}

.breadcrumb-container a{
	color: #222222 !important;
    font-size: 13px;
}


/*Path*/
.pathBox{
	background: url(../images/path.png) no-repeat center;
	min-height: 350px;
	padding: 36px 0;
	color: #646464;
	margin-bottom: 170px;
}

.path-thumb {
	position: absolute;
}

.path-thumb figure {
	text-align: center;
}

.path-thumb .overlay {
    background-color: #249386;
	opacity: 0.4;
	display: none;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: absolute;
}

.path-thumb .overlay a {
	display: block;
}


.path-thumb figcaption {
	color: #565656;
	font-size: 26px;
	padding: 20px 0 0;
}

.path-thumb.one {
	left: 30px;
	top: 75px;
}

.path-thumb.two {
	left: 295px;
	top: 75px;
}

.path-thumb.three {
	left: 630px;
	top: 184px;
}

.path-thumb.four {
	right: 60px;
	top: 165px;
	
}

.path-thumb .overlay a i {
	color: #FFFFFF;
	font-size: 28px;
	line-height: 143px;
}

.path-thumb.one .overlay {
	height: 145px;
	left: 28px;	
	top: 5px;
	width: 145px;
	border-radius: 100%;
}

.path-thumb.two .overlay {
	height: 185px;
	left: 26px;
	position: absolute;
	top: 5px;
	width: 185px;
	border-radius: 100%;
}

.path-thumb.two .overlay a i {
	line-height: 195px;
}

.path-thumb.three .overlay {
	height: 115px;
	left: 30px;
	position: absolute;
	top: 5px;
	width: 115px;
	border-radius: 100%;
}
.path-thumb.three .overlay a i {
	line-height: 125px;
}

.path-thumb.four .overlay {
	height: 210px;
	left: 5px;
	position: absolute;
	top: 5px;
	width: 210px;
	border-radius: 100%;
}
.path-thumb.four .overlay a i {
	line-height: 220px;
}

.path-thumb.one figure:hover .overlay, .path-thumb.two figure:hover .overlay, .path-thumb.three figure:hover .overlay, .path-thumb.four figure:hover .overlay{
	display: block;
}

@media (min-width: 992px) and (max-width: 1199px){
	
	.path-thumb.one {
		left: 10px;
		top: 92px;
	}
	
	.path-thumb.two {
		left: 245px;
		top: 75px;
	}
	
	.path-thumb.three {
		left: 525px;
		top: 184px;
	}
	
	.path-thumb.four {
		right: 20px;
		top: 165px;
	}
	
} 

@media (min-width: 768px) and (max-width: 991px){
	.img-cutbg{
		height: 70px;
		margin-top: -73px;
	}
	
}

@media (max-width: 991px){
	.pathBox{
		background: url(../images/path-vert.jpg) no-repeat center;
		min-height: 1115px;
		padding: 36px 0;
		color: #646464;
		margin-bottom: 170px;
	}
	.path-thumb.one {
		left: 50%;
		top: 35px;
		margin-left: -70px;
	}
	
	.path-thumb.two {
		left: 50%;
		top: 291px;
		margin-left: -114px;
	}
	
	.path-thumb.three {
		left: 50%;
		top: 585px;
		margin-left: -130px;
	}
	
	.path-thumb.four {
		right: 50%;
		top: 800px;
		margin-right: -55px;
	}
	
}

/*Kontakt*/
.contactBox1{
	background-color: #f4f4f4 !important; padding-top: 20px !important;
	padding-right: 30px !important;
	padding-bottom: 20px !important;
	padding-left: 30px !important;
}

.contactBox2{
	background-color: #ededed !important;
	padding-top: 20px !important;
	padding-right: 30px !important;
	padding-bottom: 21px !important;
	padding-left: 30px !important;
}

.contactText{
	padding-top: 45px !important;
	padding-right: 30px !important;
	padding-bottom: 30px !important;
	padding-left: 30px !important;
}

.contactForm-container input, .contactForm-container textarea {
	border: 2px solid rgb(235, 235, 235)!important;
	padding: 10px 10px 10px 10px!important;
	text-indent: 0px;
	background: rgb(235, 235, 235);
    -webkit-box-shadow: none;
	box-shadow: none;
    border-radius: 0px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-size: 14px;
	height: auto;
}

.contactForm-container input[type="submit"]{
	background-color: inherit!important;
	color: #589287!important;
	border-color: #589287!important;
    padding: 10px 30px!important;
	text-transform: uppercase;
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
	font-size: 14px!important;
	font-weight: 400!important;
	border-width: 2px!important;
	display: inline-block;
}

.contactForm-container input[type="submit"]:hover{
	background-color: #589287!important;
	color: white!important;
	border-color: #589287!important;
    -webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}

.contactForm-container input:focus, .contactForm-container textarea:focus{
	outline: 0;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*Maps*/
.gmapConainer{
	margin-top: -100px;
	z-index: 0;
}

.googleMapCanvas{
	
}


/*Footer styles*/
.footer{
	background: #1f1f1f;
	padding-top: 30px;
	padding-bottom: 15px;
}

.footer p{
	color: #8E8E8E;
	line-height: 20px;	
	font-size: 13px !important;
}

.footer a{
	color: #fff;
}

.footer a:hover{
	color: #fff;
	text-decoration: underline;
}

.footer h4{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Open Sans';
}

.footer .line{
	height: 3px;
	width: 50px;
	margin-bottom: 30px;
	background: #589287;
}

.footer .hruler{
	height: 1px;
	width: 100%;
	border-top: 1px solid #8D8D8D;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}


/*Anmeldelser*/
.metroholder{
	overflow: hidden;
	position: relative;
	min-height: 250px;
	margin-top: 15px;
}

.testimonialContainer{
	width: 100%;
    position: absolute;	
}

.testimonial{
	border-color: #239387;
	padding-top: 50px;
	text-align: center;
	padding: 35px 35px 0;
	border-width: 1px;
	border-style: solid;
	border-bottom-style: none;
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.testimonial:before{
	background: #239387;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	font-size: 60px;
	line-height: 70px;
	content: '\201d';
	top: -1px;
    position: absolute;
	font: 700 72px/82px Arial;
	text-align: center;
	color: #fff;
	margin-top: 12px;
}

.testimonial > div{
	margin-top: 10px;
}

.testimonial .author{
	padding-right: 35px;
	background: #239387;
	position: relative;
	margin: 10px -35px 0;
	padding: 15px 65px 15px 35px;
	font-style: italic;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
    font-weight: normal;
}

.testimonialContainer:before{
	border-bottom-color: #239387;
	content: '';
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -10px;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}


/*Front img*/
.frontImg img{
	width: 100%;
}

@media (max-width: 767px){
	.mt-menu-frame{
		margin-top:0px;
	}
	
	#header, #header-sub{
		padding-top: 161px !important;
	}
	
	.topRow {
		font-size: 11px;
		padding: 8px;
		width: 100%;
		text-align: left;
	}	
	
	.langSelector{
		overflow: visible;
		width: auto;
		float: right;
		margin-top: 25px;
	}
	
	.langSelector .difLang{
		width: auto;
		display: initial;
	}
	
	.langSelector .fa{
		display: none;
	}
	
	.img-cutbg {
		height: 40px;
		margin-top: -73px;
	}
	
}


/*Call 2 action*/
.c2a-text{
	display: table-cell;vertical-align: middle; width: 75%;
}

.c2a-btn{
	display: table-cell;vertical-align: middle; width: 25%;
}

@media (max-width: 620px){
	.c2a-btn{
		display: block;
		width: 100%;
	}
	
	.c2a-text{
		display: block;
		width: 100%;
	}
	.headerText  h1{
	font-size: 50px!important;
}
#header-sub{
	margin-bottom: 0px;
	}
	
#header-title{
	background: #fff !important;
	}
.sidebar{
	margin-bottom: 10px;
	}
}